{% extends 'base.html' %}
{% block content %}
<h1>bemostore</h1>

<p><strong>Name:</strong> <span class="normal-text">{{name}}</span></p>
<p><strong>NPM:</strong> <span class="normal-text">{{npm}}</span></p>
<p><strong>Class:</strong> <span class="normal-text">{{class}}</span></p>

{% if not product_entries %}
<p>Belum ada data product pada bemostore.</p>
{% else %}
<style>
  table {
    width: 50%;
    border-collapse: collapse;
  }
  th, td {
    padding: 8px;
    text-align: left;
  }
  th:first-child, td:first-child {
    width: 20%; 
  }
  th:nth-child(2), td:nth-child(2){
    width: 10%;
  }
  th:last-child, td:last-child {
    width: 70%; 
  }
</style>

<table>
  <tr>
    <th>Product Name</th>
    <th>Price</th>
    <th>Description</th>
  </tr>

  {% comment %} Berikut cara memperlihatkan data product di bawah baris ini 
  {% endcomment %} 
  {% for product_entry in product_entries %}
  <tr>
    <td>{{product_entry.name}}</td>
    <td>{{product_entry.price}}</td>
    <td>{{product_entry.description}}</td>
  </tr>
  {% endfor %}
</table>

{% endif %}

<br />

<a href="{% url 'main:create_product_entry' %}">
  <button>Add New Product Entry</button>
</a>

<a href="{% url 'main:logout' %}">
  <button>Logout</button>
</a>
<h5>Sesi terakhir login: {{ last_login }}</h5>

{% endblock content %}